VTT_APPNAME=My custom virtual tabletop
VTT_PREDIR=/opt/myvtt
VTT_LOG_LEVEL=INFO

VTT_DOMAIN=www.cool-vtt.org
VTT_PORT=8080
VTT_SSL=False
VTT_REVERSE_PROXY=True

VTT_LIMIT_TOKEN=2
VTT_LIMIT_BG=10
VTT_LIMIT_GAME=20
VTT_LIMIT_MUSIC=10
VTT_NUM_MUSIC=6

VTT_LINKS_DISCORD=www....

VTT_CLEANUP_EXPIRE=2592000
VTT_CLEANUP_TIME=03:00

VTT_OAUTH_DISCORD_ID=12345
VTT_OAUTH_DISCORD_SECRET=asdf

VTT_WEBHOOK_DISCORD_URL=...
VTT_WEBHOOK_DISCORD_USER=123

