body {
	background-image: url('/static/background.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;
	height: 100%;

	font-family: Sans-Serif;
	
	height: 100%;
	overflow: hidden;
}

span.imprint {   
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 100;
	
	color: white;
}

span.imprint a {
	color: white;
}

div.form {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

input {
	color: black;
}

input[type=text] {
	border: 1px solid white;
	padding: 10px;
	background: white;
	outline: 1px solid white;
	outline-offset: 3px;
	text-align: center;
	margin: 5px;
	width: 200px;
}

div.dropzone {
	border: 1px solid white;
	padding: 10px;
	outline: 1px solid white;
	outline-offset: 3px;
}

input[type=submit],
input[type=button],
input[type=color] {
	background: white;
	border-radius: 2px;
	border: 0px;
	padding: 10px 30px;
	margin: 5px;      
	width: 200px;
}

input[type=color] {
	height: 50px;
}

input[type=file] {
	border: 1px solid white; 
	outline: 1px solid white;
	outline-offset: 3px;
	padding: 10px;
	color: white;
	text-transform: uppercase;
}

input[type=submit]:hover,
input[type=button]:hover,
input[type=color]:hover {
	cursor: pointer;
	background: #99ff66;
}

div.menu {
	display: block;
	
	width: calc(100% - 250px);
	
	margin-left: auto;
	margin-right: auto;
	
	margin-top: 10px;
	padding: 5px;
	color: white;
	border-radius: 10px;
	text-align: center;
}

div.menu > img.logo {
	height: 300px;
	width: auto;
}

div.menu table {
	margin-left: auto;
	margin-right: auto;
}

div.menu > img,
div.menu > table tr td img,
div.menu > input[type=image] {
	width: 16px;
}

div.menu table > input {
	display: inline;
	width: 100px;
}

/* --- GM Area -------------------------------------------------------------- */

div.dropdown {
	width: calc(100% - 10px);
	
	overflow-x: hidden; 
	z-index: 1;
}

div.dropdown > div#preview {
	display: inline-block;
	position: absolute;
	z-index: 5;
	
	top: -100px;
	
	width: calc(100% - 30px);
	overflow-x: auto;
	
	height: 95px;
	border: 1px solid black;
	
	background-color: rgba(100, 100, 100, 0.25);
	border-radius: 10px;
	padding: 5px;
	margin: 5px;
	
	padding: 10px; 
}

div.dropdown > img {
	position: absolute;
	top: 0px;
	right: 0px;
	
	width: 48px;
	
	filter: drop-shadow(0px 0px 10px gold) 
          drop-shadow(0px 0px 0 gold);
}

div.dropdown > img#drophint {
	position: absolute;
	display: block;
	left: 50%;
	
	width: 32px;  
	display: none;
	
	filter: none;
	z-index: 10;
}

img.icon {
	width: 16px;
}

div#preview > img.largeicon {
	width: 32px;
	padding: 5px;
	padding-bottom: 30px;
}

div#preview > div {
	display: inline-block;
}


div#preview > div > img.thumbnail,
div#preview > div > img.active {
	width: 100px;
	max-height: 56px;
	border-radius: 10px;
	display: block;
	padding: 5px;
}

div#preview > div > a > img.thumbnail {
	width: 200px;
	max-height: 112px;
}

div#preview > div > img.active { 
	outline: 2px solid white;
	outline-style: groove;
	outline-offset: 3px;
}

img.icon:hover,
div#preview > img.largeicon:hover,
div#preview > div > img.thumbnail:hover {
	cursor: pointer;
	
	filter: drop-shadow(0px 0px 10px gold) 
          drop-shadow(0px 0px 0 gold);
}

div#preview > div > div.controls {
	padding-top: 10px;
	width: 100px;
	text-align: center;
}

/* --- Dicebox Layout ------------------------------------------------------- */

div.dice,
div.rollbox {
	position: absolute;
	z-index: 3;
	bottom: calc(50% - 150px);
	left: 15px;   
}

div#dicebox {
	opacity: 0.0;
	display: none;
}

div.dice > img {
	display: block;
	user-select: none;
	
	width: 48px;
	height: 48px;
	padding: 1px;
}

div.dice > img:hover {
	cursor: grab;
	
	filter: drop-shadow(1px 1px 10px gold) 
          drop-shadow(-1px -1px 0 gold);
	
	bottom: 5px;
}

div.dice > img:active {
	cursor: grabbing;
}

.shake {
	animation: shake 0.5s;
	animation-iteration-count: infinite;
}

@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

div.rollbox {
	pointer-events: none;
	overflow: hidden;
	
	width: 100%;
}

div.rollbox > div {
	display: flex;
	flex-direction: row; 
}

div.rollbox > div {
	display: block;
	position: relative;
	left: 50px;
	height: 50px;  
	overflow: hidden;
	white-space: nowrap;
	
	opacity: 0.75;
}

div.rollbox > div > span {
	display: inline-block;
	width: 36px;
	height: 30px;
	margin: 2px;
	padding-top: 3px;
	margin-top: 7px;
	margin-left: 10px;
	
	text-align: center;
	font-size: x-large;
	font-family: Serif;
	  
	pointer-events: auto;
	
	background-color: rgba(255, 255, 255, 0.75);
	border: 1px solid white; 
	outline: 1px solid white;
	outline-offset: 3px;
}

div.rollbox > div > span.natroll {
	font-weight: bold;
}

/*
div.rollbox > div#d4box,
div.rollbox > div#d8box,
div.rollbox > div#d12box {
	background-color: lime;
}

div.rollbox > div#d6box,
div.rollbox > div#d10box,
div.rollbox > div#d20box {
	background-color: yellow;
}
*/

/*
div#rollbox {	
	position: relative;
	width: 100px;
	height: calc(100% - 60px);
	float: left;
	top: 25px;
}

div#rollbox > div.roll {
	display: inline-block;
	width: 95px;
	margin-left: auto;
	margin-right: auto;
	height: 33px;
	padding: 5px;
	margin: 2px;
	background-color: rgba(150, 150, 150, 0.5);
	border-radius: 10px;
	text-align: center;
}

div#rollbox > div.roll:hover {
	display: 155px;
}

div#rollbox > div.min-roll {
	background-color: rgba(100, 0, 0, 0.5);
}

div#rollbox > div.max-roll {
	background-color: rgba(0, 100, 0, 0.5);
}

div#rollbox > div.roll > img {
	float: left;
	width: 30px;
	height: 30px;
	vertical-align: text-bottom;
}

div#rollbox > div.roll > span.result {
	margin-left: auto;
	margin-right: auto;
	font-size: xx-large;
	-webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

div#rollbox > div.roll > span.player {
	position: absolute;
	display: none;
}

div#rollbox > div.roll:hover > span.player {
	display: inline-block;
	
	padding: 10px;
	border-radius: 10px;
	float: right;
	text-decoration: bold;
	z-index: 1;
	
	background-color: rgba(100, 100, 100, 0.75);
}
*/

/* --- Map Footer ----------------------------------------------------------- */

div.mapfooter {
	position: absolute;
	bottom: 5px;
	width: 100%;
}

div#mapfooter {
	opacity: 0.0;
	display: none;
}

div.mapfooter > div#players {
	display: block;
	width: 700px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	/* white-space: nowrap; */
}

div.mapfooter > div#players > span.player {
	display: inline-block;
	height: 20px;
	padding: 10px;
	margin: 7px;
	font-size: larger;
	background-color: rgba(200, 200, 200, 0.5);
	border-radius: 10px;
	text-align: center;
	color: black;
}

div.mapfooter > div#players > span.player > a {
	pointer: hand;
	text-decoration: none;
	color: black;
}

form#uploadform {
	display: none;
}

/* --- Battlemap Layout ----------------------------------------------------- */

div#login {
	position: absolute;
	
	background-image: url('/static/background.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: black;
	
	width: 100%;
	height: 100%;
													
	margin: 0px;
	padding: 0px;
	
	z-index: 10;
}

div.warning {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 20;
	
	color: red;
	font-size: xxx-large;
	text-align: center;
	
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
	
	animation: blink 1s linear infinite;
} 

@keyframes blink {
	0% {
		opacity: 0;
	}
	50% {
		opacity: .5;
	}
	100% {
		opacity: 1;
	}
}

div.battlemap {
	padding-top: 25px;
	z-index: -1;
}

div.battlemap > div#drag_hint {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	z-index: -10;
	
	font-size: large;
	color: white;
}

div.battlemap > canvas#battlemap {
	background-color: rgba(100, 100, 100, 0.25);
	border: 1px solid black;
	z-index: 0;
	
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.battlemap > div#tokenbar {
	position: absolute;
}

div.battlemap > div#tokenbar > img {
	position: absolute;
	display: inline;
	height: 24px;
	margin: 0px;
	padding: 0px;
	filter: opacity(0.66)
		drop-shadow(1px 1px 10px #BDBDBD) 
		drop-shadow(-1px -1px 10px #BDBDBD);
}

div.battlemap > div#tokenbar > img#tokenBottom {
	top: 6px;
}

div.battlemap > div#tokenbar > img#tokenTop {
	bottom: 6px;
}

div.battlemap > div#tokenbar > img:hover {
	cursor: pointer;
	filter: invert(1.0)
		drop-shadow(1px 1px 10px gold) 
		drop-shadow(-1px -1px 10px gold);
}

div.battlemap > div#tokenbar > img.dummy:hover {
	cursor: default;
}
#
