body {
	background-image: url('/static/background.jpg');
}

form {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

div.menu {
	display: block;
	width: 800px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	background-color: rgba(200, 200, 200, 0.66);
	border-radius: 10px;
	text-align: center;
}

div.menu table {
	margin-left: auto;
	margin-right: auto;
}

div.menu form {
	width: auto;
}

div.menu img,
div.menu input[type=image] {
	width: 16px;
}

div.menu table input {
	display: inline;
	width: 100px;
}

div.scene {
	width: 1440px;
	height: 720px;
	margin-left: auto;
	margin-right: auto;
}

div#tokenmenu {
	background-color: rgba(150, 150, 150, 0.95);
	border-radius: 10px;
	padding: 15px;
	width: 100px;
	position: absolute;
	display: none;
}

div#rollbox {
	width: 210px;
	float: left;
	padding-top: 10px;
	height: 750px;
}

div#rollbox div.roll {
	display: inline-block;
	width: 180px;
	margin-left: auto;
	margin-right: auto;
	height: 33px;
	padding: 5px;
	margin: 2px;
	background-color: rgba(150, 150, 150, 0.5);
	border-radius: 10px;
	text-align: center;
}

div#rollbox div.min-roll {
	background-color: rgba(250, 0, 0, 0.5);
}

div#rollbox div.max-roll {
	background-color: rgba(0, 250, 0, 0.5);
}

div#rollbox div.roll img {
	float: left;
	width: 30px;
	height: 30px;
	vertical-align: text-bottom;
}

div#rollbox div.roll span.result {
	width: 30px;
	margin-left: auto;
	margin-right: auto;
	font-size: xx-large;
	-webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

div#rollbox div.roll span.player {
	float: right;
	font-size: smaller;
}

div.battlemap {
	float: left;
	width: 1200px;
	height: 720px;
}

div.battlemap div.mapfooter {
	width: 1200px;
	height: 64px;
}

canvas#battlemap {
	background-color: rgba(100, 100, 100, 0.25);
	border: 1px solid black;
	z-index: 0;
}

div.scene div#rolls {
	width: 200px;
	height: 750px;
	overflow-y: scroll;
	float: right;
}

div.dicebox {
	width: 300px;
	float: left;
}

div.dicebox img {
	float: right;
	width: 48px;
	height: 48px;
}

div.dicebox img:hover {
	cursor: pointer;
	filter: drop-shadow(1px 1px 10px gold) 
          drop-shadow(-1px -1px 0 gold);
}

div#tokenbar {
	position: absolute;
}

div#tokenbar img {
	height: 16px;
	margin: 0px;
	padding: 0px;
	filter: opacity(0.66)
		drop-shadow(1px 1px 10px #BDBDBD) 
		drop-shadow(-1px -1px 10px #BDBDBD);
}

div#tokenbar img.out {
	position: relative;
	left: -7px;
}

div#tokenbar img:hover {
	cursor: pointer;
	filter: invert(1.0)
		drop-shadow(1px 1px 10px gold) 
		drop-shadow(-1px -1px 10px gold);
}

div#players {
	display: block;
	width: 700px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	/* white-space: nowrap; */
}

div#players span.player {
	display: inline-block;
	height: 20px;
	padding: 10px;
	margin: 7px;
	font-size: larger;
	background-color: rgba(200, 200, 200, 0.5);
	border-radius: 10px;
	text-align: center;
	color: black;
}

div#players span.player a {
	pointer: hand;
	text-decoration: none;
	color: black;
}

form#uploadform {
	display: none;
}

div#error {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 150px;
	color: red;
	border: 2px solid red;
	padding: 5px;
	background-color: black;
}

