body {
	background-image: url('/static/background.jpg');
}

form {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

div.menu {
	display: block;
	width: 800px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
	background-color: rgba(200, 200, 200, 0.66);
	border-radius: 10px;
	text-align: center;
}

div.menu table {
	margin-left: auto;
	margin-right: auto;
}

div.menu > form {
	width: auto;
}

div.menu > img,
div.menu > table tr td img,
div.menu > input[type=image] {
	width: 16px;
}

div.menu table > input {
	display: inline;
	width: 100px;
}

/* --- GM Area -------------------------------------------------------------- */

div.dropdown {
	width: 100%;
}

div.dropdown > div#preview {
	display: none;
	
	width: calc(100% - 75px);
	overflow-x: auto;
	
	height: 100px;
	border: 1px solid black;
	
	background-color: rgba(200, 200, 200, 0.5);
	border-radius: 10px;
	padding: 5px;
	margin: 5px;
}

div.dropdown > img {
	position: absolute;
	top: 0px;
	right: 0px;
	
	width: 48px;
	
	filter: drop-shadow(0px 0px 10px gold) 
          drop-shadow(0px 0px 0 gold);
}

img.icon {
	width: 32px;
	padding: 5px;
	padding-bottom: 30px;
}

div#preview > div {
	display: inline-block;
}

div#preview > div > img.icon {
	width: 16px;
}

div#preview > div > img.thumbnail,
div#preview > div > img.active {
	width: 100px;
	max-height: 56px;
	border-radius: 10px;
	display: block;
	padding: 5px;
}

div#preview > div > a > img.thumbnail {
	width: 200px;
	max-height: 112px;
}

div#preview > div > img.active {
	border: 3px dotted red;
}

div#preview > img.icon:hover,
div#preview > div > img.icon:hover,
div#preview > div > img.thumbnail:hover {
	cursor: pointer;
	
	filter: drop-shadow(0px 0px 10px gold) 
          drop-shadow(0px 0px 0 gold);
}

/* --- Dicebox Layout ------------------------------------------------------- */

div#rollbox {	
	width: 100px;
	height: calc(100% - 60px);
	float: left;
}

div#rollbox > div.roll {
	display: inline-block;
	width: 95px;
	margin-left: auto;
	margin-right: auto;
	height: 33px;
	padding: 5px;
	margin: 2px;
	background-color: rgba(150, 150, 150, 0.5);
	border-radius: 10px;
	text-align: center;
}

div#rollbox > div.roll:hover {
	display: 155px;
}

div#rollbox > div.min-roll {
	background-color: rgba(250, 0, 0, 0.5);
}

div#rollbox > div.max-roll {
	background-color: rgba(0, 250, 0, 0.5);
}

div#rollbox > div.roll > img {
	float: left;
	width: 30px;
	height: 30px;
	vertical-align: text-bottom;
}

div#rollbox > div.roll > span.result {
	margin-left: auto;
	margin-right: auto;
	font-size: xx-large;
	-webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

div#rollbox > div.roll > span.player {
	position: absolute;
	display: none;
}

div#rollbox > div.roll:hover > span.player {
	display: inline-block;
	
	padding: 10px;
	border-radius: 10px;
	float: right;
	text-decoration: bold;
	z-index: 1;
	
	background-color: rgba(0, 0, 0, 0.75);
	border: 1px dotted white;
}

/* --- Map Footer ----------------------------------------------------------- */

div.mapfooter {
	position: absolute;
	bottom: 5px;
	width: 100%;
}

div.mapfooter > div.dice {
	position: absolute;
	left: 5px;
	width: 350px;
}

div.mapfooter > div.dice > img {
	width: 48px;
	height: 48px;
}

div.mapfooter > div.dice > img:hover {
	cursor: pointer;
	filter: drop-shadow(1px 1px 10px gold) 
          drop-shadow(-1px -1px 0 gold);
}

div.mapfooter > div#players {
	display: block;
	width: 700px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	/* white-space: nowrap; */
}

div.mapfooter > div#players > span.player {
	display: inline-block;
	height: 20px;
	padding: 10px;
	margin: 7px;
	font-size: larger;
	background-color: rgba(200, 200, 200, 0.5);
	border-radius: 10px;
	text-align: center;
	color: black;
}

div.mapfooter > div#players > span.player > a {
	pointer: hand;
	text-decoration: none;
	color: black;
}

div.mapfooter > form#uploadform {
	display: none;
}

/* --- Battlemap Layout ----------------------------------------------------- */

div.battlemap {
	position: absolute;
	width: calc(100% - 10px);
	left: 5px;
	top: 5px;
	
	z-index: -1;
}

div.battlemap > canvas#battlemap {
	float: right;
	background-color: rgba(100, 100, 100, 0.25);
	border: 1px solid black;
	z-index: 0;
}

div.battlemap > div#tokenbar {
	position: absolute;
}

div.battlemap > div#tokenbar > img {
	height: 16px;
	margin: 0px;
	padding: 0px;
	filter: opacity(0.66)
		drop-shadow(1px 1px 10px #BDBDBD) 
		drop-shadow(-1px -1px 10px #BDBDBD);
}

div.battlemap > div#tokenbar > img.out {
	position: relative;
	top: 7px;
}

div.battlemap > div#tokenbar > img:hover {
	cursor: pointer;
	filter: invert(1.0)
		drop-shadow(1px 1px 10px gold) 
		drop-shadow(-1px -1px 10px gold);
}

